{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class = "w-100 ">
{% if not created %}
    <form  action = "{% url 'post_creation' %}" method= POST>
        {% csrf_token %}

       <!-- {{form.as_p}} -->
            <button type=" submit">Create Post</button>
        {% crispy form %}</div>
    </form>
{% else %}
    <div>
        
        <a href = "{% url 'post_detail' post.id %}"> {{ post.title }}</a>

    </div>

    {% endif %}



</div>

{% endblock %}
